.popup-header a{
    color: black;
    text-decoration: none;
}

.popup-header{
    background-color: #FB5C2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.popup-menu{
    display: flex;
}

.popup-menu li {
    margin-left: 10px;
}

.popup-menu a{
    background-color: #FB5C2A;
    display: block;
    padding: 10px;
}

.inputs-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.inputs-label input{
    width: 80%;
}

/* Sessão do cadastro */
.veic-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    position: relative;
    left:35%;
    top:30px;
}

.veic-modal-content {
    background: #E5E5E5;
    padding: 16px 24px;
    width: 380px;
    border-radius: 0.5rem;
}

.veic-span {
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: lightgray;
    text-align: center;
    line-height: 24px;
}

.veic-span {
    background-color: darkgray;
}

.veic-show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.veic-cdnovo {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    padding-bottom: 20px;

}

.veic-cdnovo>h1 {
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
}

.veic-Salvar-cadastro{
    background-color: #FB5C2A;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    width: 20%;
    height: 30px;
}

.veic-Salvar-cadastro button{
    cursor: pointer;
    background-color: #FB5C2A;
    border: none;
    text-align: center;
    margin-left: 7px;
}